.App {
  text-align: center;
}
body {
  background-color: #EDDCD9;
}

.App-header {
  background-color: #E17CAF;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #E99F4C;
  
}

button {
  background-color: #E99F4C;
  border-radius: 6px;
  font-size: 16px;
  padding: 5px 15px;
  margin: 10px 0px;
  cursor: pointer;
}
hr {
  width: 60%;
  background-color:#666;
  opacity: 0.5;
}

.comments {
  margin-top: 10px;
  /* max-width: 100px; */
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}
.new-meetup-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  
}
.searchMeetup{
  margin-top: 30px;
}
